.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}
.cardHead{
  height: 200px;
  width: 520px;
}

.lineChart {
  margin-top: 14px;
  width: 1065px;
}

.chartsRow {
  display: grid;
  grid-template-columns: 2fr 1fr;/*linha maior que donut*/ 
  gap: 28px;
  align-items: stretch;
}

.donut{
  margin-top: 14px;
}